{% extends 'base.html' %}
{% load thumbnail %}
{% load leaflet_tags %}

{% block content %}
<div class="content-page-wrapper">
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                Proyectos
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="{% url 'list-proyectos' %}">
                        Proyectos
                    </a>
                </li>
                <li>
                    <a href="#">
                        {{object.nombre_corto}}
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- About quote -->
    <section class="about-section large-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="about-section--inner-wrapper">
                        <div class="inner-wrapper--content-wrapper">
                            <div class="content-wrapper--quote-wrapper">
                                <div class="content-wrapper--title">
                                    <h3>{{object.nombre}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="inner-wrapper--image-wrapper bg-size-cover bg-position-center" style="{% thumbnail object.foto "1920x1280" crop="center" as im %}background-image: url('{{im.url}}'){% endthumbnail %}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="single-post--text-wrapper">
                        {{object.resumen|safe }}
                    </div>
                </div>
            </div>
            <br>
            
        </div>
    </section>
    <!-- Counters -->
    <section class="counters large-section bg-size-cover bg-position-center overlay bg-attachment-fixed black-overlay" >
        <div class="counters-type-1">
            <div class="container-fluid">
                <div class="row counters-wrapper counters-list-wrapper" data-animation-type="fade"
                     data-animation-duration="3">
                    <div class="col-sm-6 col-lg-3 counter-box inner-wrapper--counter-wrapper">
                          <span class="counter--value"
                                data-counter-value="{{object.beneficiarios}}">0</span>
                        <p class="counter-box--title-counter">Beneficiarios</p>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        {% leaflet_map "mapid" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="accordion-gallery-section">
        <div class="accordion-gallery">
            <div class="accordion-gallery--inner-wrapper">
                <div class="inner-wrapper--items-wrapper">
                    {% for obj in object.fotosproyecto_set.all %}
                    <div class="items-wrapper--item">
                        <div class="item--image-wrapper">
                            <div class="image-wrapper--image-inner">
                                <div class="image-inner--image">
                                    <div class="image--background"
                                        style="{% thumbnail obj.archivo "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="items-wrapper--item-sizer"></div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block extra_css %}
<style>
.single-post--text-wrapper ul{
    margin-bottom: 1rem !important;
    padding-left: 40px !important;
}
.single-post--text-wrapper ul li {
    list-style: circle !important;
    color: var(--primary-font-color) !important;
}
.single-post--text-wrapper p {
     margin-top: 20px !important;
}
#mapid { height: 400px !important; }
</style>
{% leaflet_js %}
{% leaflet_css %}
{% endblock extra_css %}

{% block extra_js %}
<script>
    var map = L.map('mapid').setView([{{object.ubicacion_proyecto.0.1}}, {{object.ubicacion_proyecto.0.0}}], 9);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
        }).addTo(map);

        {% for point in object.ubicacion_proyecto %}
            var marker{{forloop.parentloop.counter}}_{{forloop.counter}} = L.marker([{{point.1}}, {{point.0}}]).addTo(map);
        {% endfor %}
</script>
{% endblock extra_js %}
