{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load embed_video_tags %}
{% block extra_head %}
<meta property="og:title" content="{{nota.noticia}}" />
<meta property="og:type" content="article" />
{% if nota.foto %}
    <meta property="og:image" content="http://{{request.META.HTTP_HOST}}/media/{{nota.foto}}">
{% elif nota.url %}
    {% video nota.url as video %}
        <meta property="og:image" content="{{video.thumbnail}}">
    {% endvideo %}
{% endif %}

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{nota.texto|striptags}}" />
<meta property="og:url" content="http://{{request.META.HTTP_HOST}}{{request.path}}" />
<meta property="og:locale" content="es_ES" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{nota.noticia|truncatechars:70}}">
<meta name="twitter:description" content="{{nota.texto|striptags|truncatechars:200}}">

{% if nota.foto %}
    <meta name="twitter:image" content="http://{{request.META.HTTP_HOST}}/media/{{nota.foto}}">
{% elif nota.url %}
    {% video nota.url as video %}
        <meta name="twitter:image" content="{{video.thumbnail}}">
    {% endvideo %}
{% endif %}
<meta name="twitter:domain" content="http://{{request.META.HTTP_HOST}}">
{% endblock extra_head %}

{% block content %}
<!-- Header Breadcrumbs-->
<header class="breadcrumbs-type-1">
    <div class="container breadcrumbs--breadcrumbs-inner">
        <h1 class="breadcrumbs-inner--page-title">
            {{nota.noticia}}
        </h1>
        <ul class="breadcrumbs-inner--breadcrumbs-list">
            <li>
                <a href="/">
                    Inicio
                </a>
            </li>
            <li>
                <a href="{% url "noticias:noticias" %}">
                    Actualidad
                </a>
            </li>
            <li>
                <a href="#">
                    {{nota.noticia}}
                </a>
            </li>
        </ul>
    </div>
</header>
<!-- Blog Single -->
<section class="blog-single-post small-section">
    <div class="default-container">
        <div class="row">
            <div class="col">
                <div class="single-post--meta-content">
                    <div class="meta-content--info">
                        <i class="fas fa-clock"></i>
                        <p>{{nota.fecha|date:"M d, Y"}}</p>
                    </div>
                    <div class="meta-content--info">
                        <i class="fa fa-user"></i>
                        <a href="">{{nota.idautor}}</a>
                    </div>
                    <div class="meta-content--info">
                        <i class="fas fa-tag"></i>
                        <p><a href="">{% for obj in nota.categoria.all %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}</a></p>
                    </div>
                    {% comment %} <div class="meta-content--info">
                        <i class="fas fa-heart"></i>
                        <p>63</p>
                    </div>
                    <div class="meta-content--info">
                        <i class="fas fa-eye"></i>
                        <p>81</p>
                    </div> {% endcomment %}
                </div>
                <div class="single-post--title">
                    <h3>
                        {{nota.noticia}}
                    </h3>
                </div>
                <div class="single-post--image-wrapper">
                    {% if nota.foto %}
                        {% thumbnail nota.foto "1920x1280" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="img-fluid">
                        {% endthumbnail %}
                    {%elif nota.url %}
                        {% video nota.url '100% x 662px' %}
                    {% else %}
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                    {% endif %}
                </div>
                <div class="single-post--text-wrapper">
                    {{nota.texto|safe }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="single-post--description-box">
                    {% comment %} <div class="description-box--tags-wrapper">
                        <div class="tags-wrapper--tags">
                            <a href="blog-single.html">News</a>
                            <a href="blog-single.html">Creation</a>
                            <a href="blog-single.html">Norto</a>
                        </div>
                    </div> {% endcomment %}
                    <div>
                        <div class="social-icons-type-4">
                            <a href="http://www.facebook.com/sharer.php?u=http://{{request.META.HTTP_HOST}}{{request.path}}" target="_blank" class="social-box facebook-h">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://wa.me/?text={{nota.noticia}}" target="_blank" class="social-box whatsapp-h">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="http://twitter.com/intent/tweet?url=http://{{request.META.HTTP_HOST}}{{request.path}}&amp;text={{nota.noticia}}" target="_blank" class="social-box twitter-h">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su={{nota.noticia}}&body=http://{{request.META.HTTP_HOST}}{{request.path}}&ui=2&tf=1&pli=1" target="_blank" class="social-box gmail-h">
                                <i class="fab fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="single-post-wrapper-type-1--recent-posts">
                    <h5 class="recent-posts--title">Relacionados</h5>
                    <div class="row">
                        {% for obj in noticias_relacionadas %}
                        <div class="col-lg-4">
                            <div class="recent-posts--post">
                                <div class="img-wrapper">
                                    <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}">
                                        {% if obj.foto %}
                                            {% thumbnail obj.foto "1920x1280" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="" class="img-fluid">
                                            {% endthumbnail %}
                                        {%elif obj.url %}
                                            {% video obj.url as my_video %}
                                            {% thumbnail my_video.thumbnail "1920x1280" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="" class="img-fluid">
                                            {% endthumbnail %}
                                            {% endvideo %}
                                        {% else %}
                                            <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="post--post-body">
                                    <h6><a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}">{{obj.noticia}}</a></h6>
                                    <div class="post-body--post-info mb-15">
                                        <div class="post-info--info">
                                            <p><i class="fas fa-clock"></i>{{obj.fecha|date:"M d, Y"}}</p>
                                        </div>
                                        <div class="post-info--info justify-content-end">
                                            <p><i class="fas fa-user"></i><a href="" title="" rel="author">{{obj.idautor}}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="row">
            <div class="col">
                <div class="content-wrapper--post-comments">
                    <h5 class="recent-posts--title">Comments</h5>
                    <ul class="post-comments--comments-list">
                        <li class="comments-list--comment">
                            <div class="comment--wrapper">
                                <div class="comment--author-wrapper">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid"></div>
                                <div class="comment--body">
                                    <div class="body--reply">
                                        <div>
                                            <h6>Emily Tomson</h6>
                                            <p class="date">12 Nov, 2019 at 2:54 pm</p>

                                        </div>
                                        <a href="index.html" class="reply--reply-link"><i class="fa fa-reply"></i> Reply</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto beatae cumque exercitationem minima modi nobis nulla odit. Aliquid amet, animi deleniti enim illum soluta
                                        tempore?
                                    </p>
                                </div>
                            </div>
                            <div class="comments-list--comment comment-reply">
                                <div class="comment--wrapper">
                                    <div class="comment--author-wrapper">
                                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid"></div>
                                    <div class="comment--body">
                                        <div class="body--reply">
                                            <div>
                                                <h6>Frank Doe</h6>
                                                <p class="date">12 Nov, 2019 at 4:12 pm</p>

                                            </div>
                                            <a href="index.html" class="reply--reply-link"><i class="fa fa-reply"></i> Reply</a>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis eos quod rem. Culpa dolorem excepturi fuga, iste magni minima molestiae neque nesciunt porro, quibusdam sint
                                            soluta.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="comments-list--comment">
                            <div class="comment--wrapper">
                                <div class="comment--author-wrapper">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid"></div>
                                <div class="comment--body">
                                    <div class="body--reply">
                                        <div>
                                            <h6>Maria Smith</h6>
                                            <p class="date">13 Nov, 2019 at 5:42 pm</p>

                                        </div>
                                        <a href="index.html" class="reply--reply-link"><i class="fa fa-reply"></i> Reply</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis eos quod rem. Culpa dolorem excepturi fuga, iste magni minima molestiae neque nesciunt porro, quibusdam sint
                                        soluta.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <h3 class="post-comments--title">Add a comment</h3>
                    <p class="post-comments-notes">Your email address will not be published. Required fields are marked *</p>
                    <div class="contact-form">
                        <div class="contact-form--contact-form-wrapper" id="ajax-contact">
                            <form class="contact-form-wrapper--contact-form">
                                <div class="input-row">
                                    <div class="form-div first-div">
                                        <input class="form-name" type="text" name="name" placeholder="Name*" required>
                                    </div>
                                    <div class="form-div last-div">
                                        <input class="form-phone" type="text" name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="form-div">
                                    <input class="form-email" type="email" name="email" placeholder="Email*" required>
                                </div>
                                <div class="form-div">
                                    <textarea class="form-message" name="message" placeholder="Your message..."></textarea>
                                </div>
                                <div class="button-wrapper">
                                    <button type="submit" class="button btn-type-1">Send Message<i class="fas fa-phone"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</section>
{% endblock content %}

{% block extra_css %}
<style>
.single-post--text-wrapper ul{
    margin-bottom: 1rem !important;
    padding-left: 40px !important;
}
.single-post--text-wrapper ul li {
    list-style: circle !important;
    color: var(--primary-font-color) !important;
}
.single-post--text-wrapper p {
     margin-top: 20px !important;
}
</style>
{% endblock extra_css %}
