{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load embed_video_tags %}
{% load el_pagination_tags %}

{% block content %}
<!-- Header Breadcrumbs-->
<header class="breadcrumbs-type-1">
    <div class="container breadcrumbs--breadcrumbs-inner">
        <h1 class="breadcrumbs-inner--page-title">
            Actualidad
        </h1>
        <ul class="breadcrumbs-inner--breadcrumbs-list">
            <li>
                <a href="/">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#">
                    Actualidad
                </a>
            </li>
        </ul>
    </div>
</header>
<!-- Blog Metro -->
<section class="blog-metro">
    <div class="container">
        <div class="buttons-sort">
            <a href="{% url 'noticias:noticias' %}" class="buttons-sort--button active-button" data-filter="*">Todos</a>
            {% for obj in categorias %}
                <a href="{% url 'noticias:list-noticia-cat' obj.0 %}" class="buttons-sort--button">{{obj.1}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="four-column-container">
        <div class="grid" data-grid-layout-mode="packery" data-grid-transition="0.6" data-grid-stagger="80">
            {% paginate 16 object_list %}
            {% for obj in object_list %}
            <div class="grid--grid-item {% if forloop.first or forloop.last %}grid--grid-item-50{% elif forloop.counter == 15 %}grid--grid-item-50{% elif not forloop.counter|divisibleby:8 %}grid--grid-item-25{% else %}grid--grid-item-50{% endif %}">
                <div class="blog-hover-effect-wrapper">
                    <div class="grid-item--grid-inner">
                        {% if obj.foto %}
                            {% thumbnail obj.foto "1920x1280" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" class="img-fluid">
                            {% endthumbnail %}
                        {%elif obj.url %}
                            {% video obj.url as my_video %}
                            {% thumbnail my_video.thumbnail "1920x1280" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" class="img-fluid">
                            {% endthumbnail %}
                            {% endvideo %}
                        {% else %}
                            <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        {% endif %}
                        <div class="grid-inner--post-content">
                            <div class="post-content--tag">
                                <span>{{obj.categoria.first}}</span>
                            </div>
                            <div class="post-content--meta">
                                <div class="meta--date">
                                    <p>{{obj.fecha|date:"M d, Y"}}</p>
                                </div>
                                <div class="meta-separator"><p>|</p></div>
                                <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}" class="meta--author"><p>{{obj.idautor}}</p></a>
                            </div>
                            <div class="post-content--title">
                                <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}"><h5>{{obj.noticia}}</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} agregar css a paginado {% endcomment %}
        {% show_pages %}
    </div>
</section>
{% endblock content %}