{% extends "base.html" %}
{% load thumbnail %}
{% block extra_css %}
<link href="/static/css/ihover/ihover.min.css" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<style>
.ih-item.circle{
    width: 190px;
    height: 190px;
    margin-left: 17px;
    margin-bottom: 20px;
}
.ih-item.circle.effect1 .info h3{
    font-size: 18px;
}
.ih-item.circle.effect1 .spinner{
    width: 200px;
    height: 200px;
    border: 10px solid #089C7B;
    border-right-color: #FFE900;
    border-bottom-color: #FFE900;
}

</style>

<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >{{ flatpage.title }}</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Somos SIMAS</li>
                </ul>
            </div>
        </div>
    </div>
</div>
 
<section class="area-statico pdt-100 pdb-70 bg-gris">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<div class="card-body bg-white box-shadow">
					<div class="info-texto">
						{{ flatpage.content }}
					</div>
				</div>
				
				
            </div>
        </div>
    </div>
</section>


<section class="area-contacto ">
   <div class="pdb-50 pdt-50">
        <div class="container">
            <div id="contacto_areas" class="row">
                    <div class="col-lg-12">
                        <h2 class="text-color-base">Junta Directiva</h2>
                        <hr>
                    </div>
                    <div class="col-lg-12 pdt-30 pdb-30">
                        <ul class="list-inline">
                            {% for b in junta_directiva %}
                                    <li class="list-inline-item">
                                        <!-- normal -->
                                        <div class="ih-item circle effect1"><a >
                                        <div class="spinner"></div>
                                        {% if b.foto %}
                                            {% thumbnail b.foto "300x300" crop="10%" as img %}
                                                <div class="img"><img src="/media/{{img}}" alt="img"></div>
                                            {% endthumbnail%}
                                        {% else %}
                                            <div class="img"><img src="/static/img/8.jpg" alt="img"></div>
                                        {% endif %}
                                            
                                            <div class="info">
                                            <h3>{{b.nombres}}</h3>
                                            <p>{{b.cargo}}</p>
                                            </div></a>
                                        </div>
                                        <!-- end normal -->
                                    </li>
                            {% endfor %}
                        </ul>
                    </div>  
            </div>
        </div>
        
    </div>
</section>

{% endblock content %}
{% block extra_js %}

<script>
    $(".menu-3").addClass("active");
    $(".info-texto figure").addClass("figure");
    $(".info-texto figure img").addClass("figure-img img-fluid rounded");
    $(".info-texto figure figcaption").addClass("figure-caption text-center");
    $(".info-texto img").addClass("img-fluid");
    $(".info-texto figure figcaption").prepend("<span class='fa fa-image'></span> ");
</script>
{% endblock extra_js %}
