{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load embed_video_tags %}

{% block content %}
<!-- Header Breadcrumbs-->
<header class="breadcrumbs-type-1">
    <div class="container breadcrumbs--breadcrumbs-inner">
        <h1 class="breadcrumbs-inner--page-title">
            {{nota.blog}}
        </h1>
        <ul class="breadcrumbs-inner--breadcrumbs-list">
            <li>
                <a href="/">
                    Inicio
                </a>
            </li>
            <li>
                <a href="{% url "blogs:blogs" %}">
                    Cambiando Vidas
                </a>
            </li>
            <li>
                <a href="#">
                    {{nota.blog}}
                </a>
            </li>
        </ul>
    </div>
</header>
<!-- Blog Single -->
<section class="blog-single-post small-section">
    <div class="default-container">
        <div class="row">
            <div class="col">
                <div class="single-post--meta-content">
                    <div class="meta-content--info">
                        <i class="fas fa-clock"></i>
                        <p>{{nota.fecha|date:"M d, Y"}}</p>
                    </div>
                    <div class="meta-content--info">
                        <i class="fa fa-user"></i>
                        <a href="">{{nota.idautor}}</a>
                    </div>
                    <div class="meta-content--info">
                        <i class="fas fa-tag"></i>
                        <p><a href="">{{nota.idcatblog}}</a></p>
                    </div>
                    {% comment %} <div class="meta-content--info">
                        <i class="fas fa-heart"></i>
                        <p>63</p>
                    </div>
                    <div class="meta-content--info">
                        <i class="fas fa-eye"></i>
                        <p>81</p>
                    </div> {% endcomment %}
                </div>
                <div class="single-post--title">
                    <h3>
                        {{nota.noticia}}
                    </h3>
                </div>
                <div class="single-post--image-wrapper">
                    {% thumbnail nota.foto "1920x1280" crop="center" as im %}
                    <img src="{{ im.url }}" alt="" class="img-fluid">
                    {% empty %}
                    <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                    {% endthumbnail %}
                </div>
                <div class="single-post--text-wrapper">
                    {{nota.resumen|safe }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="single-post--description-box">
                    {% comment %} <div class="description-box--tags-wrapper">
                        <div class="tags-wrapper--tags">
                            <a href="blog-single.html">News</a>
                            <a href="blog-single.html">Creation</a>
                            <a href="blog-single.html">Norto</a>
                        </div>
                    </div> {% endcomment %}
                    <div>
                        <div class="social-icons-type-4">
                            <a href="" class="social-box facebook-h">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="index.html" class="social-box linkedin-h">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="" class="social-box twitter-h">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="index.html" class="social-box instagram-h">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="single-post-wrapper-type-1--recent-posts">
                    <h5 class="recent-posts--title">Relacionados</h5>
                    <div class="row">
                        {% for obj in noticias_relacionadas %}
                        <div class="col-lg-4">
                            <div class="recent-posts--post">
                                <div class="img-wrapper">
                                    <a href="{% url 'blogs:detalle-blog' obj.id obj.uri %}">
                                        {% thumbnail obj.foto "1920x1280" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="" class="img-fluid">
                                        {% empty %}
                                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                                        {% endthumbnail %}
                                    </a>
                                </div>
                                <div class="post--post-body">
                                    <h6><a href="{% url 'blogs:detalle-blog' obj.id obj.uri %}">{{obj.blog}}</a></h6>
                                    <div class="post-body--post-info mb-15">
                                        <div class="post-info--info">
                                            <p><i class="fas fa-clock"></i>{{obj.fecha|date:"M d, Y"}}</p>
                                        </div>
                                        <div class="post-info--info justify-content-end">
                                            <p><i class="fas fa-user"></i><a href="" title="" rel="author">{{obj.idautor}}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_css %}
<style>
.single-post--text-wrapper ul{
    margin-bottom: 1rem !important;
    padding-left: 40px !important;
}
.single-post--text-wrapper ul li {
    list-style: circle !important;
    color: var(--primary-font-color) !important;
}
.single-post--text-wrapper p {
     margin-top: 20px !important;
}
</style>
{% endblock extra_css %}
