{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load static %}
{% load solo_tags %}
{% load humanize %}

{% block content %}
{% get_solo 'otras.ImgIndex' as site_config %}
<style>
.space-section {
    padding: 40px 0;
}
.testimonials-slider-type-1 .swiper-testimonials .swiper-slide .testimonials-slider-wrapper .testimonials-slider-wrapper--head p {
    color: #060606;
}
.testimonials-slider-type-1 .swiper-testimonials .swiper-slide .testimonials-slider-wrapper .testimonials-slider-wrapper--body .body--testimonial-info .testimonial-info--name h6 {
    color: #060606;
}
.testimonials-slider-type-1 .swiper-testimonials .swiper-slide .testimonials-slider-wrapper .testimonials-slider-wrapper--body .body--testimonial-info .testimonial-info--position p {
    color: #060606;
}
.testimonials-slider-type-1 .btn-type-2 {
    color: #060606;
    border: 2px solid #060606;
}
</style>
<!-- Page Content -->
<div class="content-page-wrapper">
    <!-- Hero-Header -->
    <header class="hero-header">
        <div class="swiper-container swiper-hero">
            <div class="swiper-wrapper">
                {% for portada in latest_portada %}
                <div class="swiper-slide" style="{% thumbnail portada.foto "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
                    <div class="hero-header--hero-content">
                        <div class="container">
                            <div class="hero-content--hero-wrapper">
                                <div class="hero-wrapper--content">
                                    <h1 class="content--hero-heading">{{portada.texto1}}</h1>
                                    <!--<h1 class="content--back-title">Norto<br>Creation</h1>-->
                                    <p class="content--hero-subtitle">{{portada.texto2}}</p>
                                    <!--<div class="button-wrapper">
                                        <a href="blog-single.html" class="button btn-type-2">Show More</a>
                                    </div>-->
                                </div>

                            </div>
                            <!--<div class="hero-wrapper--news">
                                <div class="news--news-wrap">
                                    <div class="news-wrapper--news-column">
                                        <div class="news-column--author">
                                            <a href="blog-single.html"><h6>John Doe</h6></a>
                                        </div>
                                        <div class="news--news-description">
                                            <a href="blog-single.html"><p>Never look down on anybody unless you're helping him
                                                up.</p></a>
                                        </div>
                                    </div>
                                    <div class="news-wrapper--news-column">
                                        <div class="news-column--author">
                                            <a href="blog-single.html"><h6>Maria Grey</h6></a>
                                        </div>
                                        <div class="news--news-description">
                                            <a href="blog-single.html"><p>Everybody can be great. Because anybody can serve.</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--<div class="swiper-slide" style="background-image: url('http://via.placeholder.com/1920x1280')">
                    <div class="hero-header--hero-content">
                        <div class="container">
                            <div class="hero-content--hero-wrapper">
                                <div class="hero-wrapper--content">
                                    <h1 class="content--hero-heading">High Quality</h1>
                                    <h1 class="content--back-title">High<br>Quality</h1>
                                    <p class="content--hero-subtitle">Beautifully handcrafted templates for your
                                        website. <br>Have your dream site in minutes.</p>
                                    <div class="button-wrapper">
                                        <a href="product-single.html" class="button btn-type-2">Show More</a>
                                    </div>
                                </div>

                            </div>
                            <div class="hero-wrapper--news">
                                <div class="news--news-wrap">
                                    <div class="news-wrapper--news-column">
                                        <div class="news-column--author">
                                            <a href="product-single.html"><h6>John Doe</h6></a>
                                        </div>
                                        <div class="news--news-description">
                                            <a href="product-single.html"><p>The people who give you their food give you their
                                                heart.</p></a>
                                        </div>
                                    </div>
                                    <div class="news-wrapper--news-column">
                                        <div class="news-column--author">
                                            <a href="product-single.html"><h6>Maria Grey</h6></a>
                                        </div>
                                        <div class="news--news-description">
                                            <a href="product-single.html"><p>You can have anything you want in life if you dress for
                                                it.</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('http://via.placeholder.com/1920x1280')">
                    <div class="hero-header--hero-content">
                        <div class="container">
                            <div class="hero-content--hero-wrapper">
                                <div class="hero-wrapper--content">
                                    <h1 class="content--hero-heading">Media Agency</h1>
                                    <h1 class="content--back-title">Media<br>Agency</h1>
                                    <p class="content--hero-subtitle">Beautifully handcrafted templates for your
                                        website. <br>Have your dream site in minutes.</p>
                                    <div class="button-wrapper">
                                        <a href="about.html" class="button btn-type-2">Show More</a>
                                    </div>
                                </div>

                            </div>
                            <div class="hero-wrapper--news">
                                <div class="news--news-wrap">
                                    <div class="news-wrapper--news-column">
                                        <div class="news-column--author">
                                            <a href="about.html"><h6>John Doe</h6></a>
                                        </div>
                                        <div class="news--news-description">
                                            <a href="blog-single.html"><p>Styles come and go. Design is a language, not a
                                                style.</p></a>
                                        </div>
                                    </div>
                                    <div class="news-wrapper--news-column">
                                        <div class="news-column--author">
                                            <a href="blog-single.html"><h6>Maria Grey</h6></a>
                                        </div>
                                        <div class="news--news-description">
                                            <a href="blog-single.html"><p>Alone we can do so little; together we can do so
                                                much.</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="swiper-button-prev-default"><i class="fa fa-angle-left"></i></div>
            <div class="swiper-button-next-default"><i class="fa fa-angle-right"></i></div>
        </div>
        <div class="hero-header--share-form">
            <a href="">
                <div class="share-form--share-icon">
                    <i class="fas fa-share-alt"></i>
                </div>
                <div class="share-form--share-info">
                    <p>Share</p>
                </div>
            </a>
        </div>
        <div class="hero-header--socials">
            <div class="socials--wrapper">
                <ul class="social-icons-type-1">
                    <li><a href="https://www.facebook.com/simas.org.ni" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/simasnicaragua" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/user/simasnicaragua" class="youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Feature boxes-->
    <section class="large-section feature-boxes">
        <div class="container">
            <div class="row feature-box-type-1">
                <div class="col-xl-4 rev-block animation-element">
                    <div class="feature-box-type-1--inner-wrapper">
                        <div class="inner-wrapper--content-wrapper">
                            <div class="inner-wrapper--number">
                                <p>{{total_publicaciones|intcomma}}</p>
                            </div>
                            <div class="content-wrapper--title">
                                <h5>Publicaciones</h5>
                            </div>
                            <div class="content-wrapper--subtitle">
                                <p>Palabras que promueven el cambio rural</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 rev-block animation-element second-animation">
                    <div class="feature-box-type-1--inner-wrapper">
                        <div class="inner-wrapper--content-wrapper">
                            <div class="inner-wrapper--number">
                                <p>{{beneficiarios|default:"0"|intcomma}}</p>
                            </div>
                            <div class="content-wrapper--title">
                                <h5>Personas</h5>
                            </div>
                            <div class="content-wrapper--subtitle">
                                <p>Participación de la ciudadanía</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 rev-block animation-element third-animation">
                    <div class="feature-box-type-1--inner-wrapper mb-0">
                        <div class="inner-wrapper--content-wrapper">
                            <div class="inner-wrapper--number">
                                <p>{{total_sistemas|intcomma}}</p>
                            </div>
                            <div class="content-wrapper--title">
                                <h5>Sistemas</h5>
                            </div>
                            <div class="content-wrapper--subtitle">
                                <p>Tomando decisiones con la gente</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us -->
    <section class="about-company large-section overlay dark-overlay bg-size-cover bg-position-center" style="{% thumbnail site_config.cambiando_vidas "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
        <div class="container z-index-100">
            <div class="row about-company--inner-wrapper">
                {% for obj in latest_blogs %}
                <div class="col-xl-4 col-md-6 image-wrapper">
                    <a href="" id="{{obj.id}}" onclick="return false;">
                        <div class="image bg-size-cover bg-position-center"
                             style="{% thumbnail obj.foto "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div class="col-xl-4 section-heading padding-left">
                    <h2 class="section-heading--title">
                        Cambiando Vidas
                    </h2>
                    <p class="section-heading--subtitle">
                        Fortaleciendo las capacidades de grupos vulnerables en busca de comunidades rurales sostenibles
                    </p>
                    <div class="button-wrapper">
                        <a class="button btn-type-1" href="{% url 'blogs:blogs' %}">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Accordions -->
    <section class="accordions-section large-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="accordions-section--image-wrapper bg-size-cover bg-position-center" id="imagen"
                         style="{% thumbnail latest_service.0.imagen "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
                        <div class="accordions-type-1 accordion-wrapper">
                            <div class="accordion-wrapper--inner-wrapper">
                                <div class="inner-wrapper--body-wrapper">
                                    <ul class="body-wrapper--content-list">
                                        {% for servicio in latest_service %}
                                            <li class="content-list--accordion {% if forloop.first %}active-accordion{% endif %}"  id="{{servicio.id}}">
                                                <p class="accordion--title">
                                                    {{servicio.servicio}}
                                                    <i class="fa fa-angle-right title--icon"></i>
                                                </p>
                                                <div class="accordion--content">
                                                    <div class="content--inner-wrapper">
                                                        <p>{{servicio.descripcion|safe|striptags|truncatechars:170}}</p>
                                                        <br>
                                                        {# <a href="">Leer más</a> #}

                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- 4 columns section testimonials-->
    <section class="four-columns-section">
        <div class="one-column image-wrapper bg-size-cover bg-position-center"
             style="{% thumbnail site_config.proyectos_izquierda "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}"></div>
        <div class="one-column testimonials-slider-type-1">
            <div class="swiper-container swiper-testimonials">
                <div class="swiper-wrapper">
                    {% for obj in proyectos %}
                    <div class="swiper-slide">
                        <div class="testimonials-slider-wrapper">
                            <div class="testimonials-slider-wrapper--head">
                                <p>{{obj.resumen|safe|striptags|truncatechars:'132'}}</p></div>
                            <div class="testimonials-slider-wrapper--body">
                                <!--<div class="body--testimonial-img">
                                    {% thumbnail obj.foto "1920x1280" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="" class="img-fluid">
                                    {% empty %}
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                    {% endthumbnail %}

                                </div>-->
                                <div class="body--testimonial-info">
                                    <div class="testimonial-info--name">
                                        <h6>{{obj.nombre_corto}}</h6>
                                    </div>
                                    <div class="testimonial-info--position">
                                        <p>{{obj.beneficiarios}} beneficiarios</p>
                                    </div>
                                    <br>
                                    <div class="button-wrapper">
                                        <a class="button btn-type-2" href="{% url 'detalle-proyecto' obj.slug %}">Explorar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="one-column image-wrapper bg-size-cover bg-position-center"
             style="{% thumbnail site_config.proyectos_derecha "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}"></div>
        <div class="one-column counter">
            <div class="counter--wrapper">
                <div class="wrapper--number">
                    <p>{{proyectos.count}}</p>
                </div>
                <div class="wrapper--description">
                    <p>projectos</p>
                </div>
                <br>
                <div class="button-wrapper">
                    <a class="button btn-type-2" href="{% url 'list-proyectos' %}">Ver más</a>
                </div>
            </div>
        </div>
    </section>

    <section class="space-section"></section>
    <!-- Services -->
    <!--<section class="services-section large-section">
        <div class="container">
            <div class="row services-section--services-wrapper">
                <div class="col-xl-4 col-md-6">
                    <div class="services-type-1">
                        <div class="services-type-1--inner-wrapper tilt-wrapper"
                             data-tilt-value="8" data-tilt-speed="1000"
                             data-tilt-scale="1" data-tilt-perspective="800">
                            <div class="inner-wrapper--icon">
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="inner-wrapper--title">
                                <h6>Offline</h6>
                            </div>
                            <div class="inner-wrapper--subtitle">
                                <p>Elaboración de materiales didácticos disponibles para su aprendizaje rural comunitario</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="services-type-1 mb-0">
                        <div class="services-type-1--inner-wrapper tilt-wrapper"
                             data-tilt-value="8" data-tilt-speed="1000"
                             data-tilt-scale="1" data-tilt-perspective="800">
                            <div class="inner-wrapper--icon">
                                <i class="fas fa-wifi"></i>
                            </div>
                            <div class="inner-wrapper--title">
                                <h6>Online</h6>
                            </div>
                            <div class="inner-wrapper--subtitle">
                                <p>Diseño, programación y desarrollo de Sitios Web, Aplicaciones y sistemas de monitoreo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 heading-wrapper padding-left">
                    <h5 class="heading-wrapper--heading white-color">
                        Servicios
                    </h5>
                    <p class="heading-wrapper--subtitle">
                       Creamos estrategias integrales en la era digital adecuadas a las necesidades de tus proyectos
                    </p>
                    <div class="button-wrapper">
                        <a class="button btn-type-1" href="">ir servicios<i
                                class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Team section -->

    <section class="team-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="swiper-container swiper-team-type-1 team-slider-type-1">
                        <div class="swiper-wrapper">
                            {% for obj in latest_pub %}
                            <div class="swiper-slide">
                                <a href="{% url 'publicaciones:detalle-publicacion' obj.id obj.uri %}">
                                    <div class="member-wrapper">
                                        <div class="member-wrapper--img-wrapper">
                                            {% thumbnail obj.portada "360x500" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="" class="img-fluid">
                                            {% empty %}
                                            <img src="http://via.placeholder.com/360x500" alt="" class="img-fluid">
                                            {% endthumbnail %}
                                        </div>
                                        <div class="member-wrapper--member-description">
                                            <div class="member-description--content-wrapper">
                                                <div class="content-wrapper--content">
                                                    <div class="content--author-wrapper">
                                                        {# <p class="content--position">{{obj.publicacion}}</p> #}
                                                        <h5 class="content--name">{{obj.publicacion}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Quote and Video Button -->
    <section class="large-section quote-section bg-position-center bg-attachment-fixed overlay dark-overlay bg-size-cover" style="{% thumbnail site_config.video "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
        <div class="container">
            <div class="row quote-inner-wrapper">
                <div class="col-xl-6">
                    <div class="video-wrapper-type-1">
                        <a class="video-toggle-type-1 video-popup"
                           href="#video-post-1">
                            <div class="play-btn-scale">
                                <i class="fa fa-play"></i>
                            </div>
                        </a>
                        <div id="video-post-1" class="white-popup-block mfp-hide mfp-fade">
                            <div class="modal-video-box">
                                {% comment %} <iframe src="https://www.youtube.com/embed/Sv511KEiIJQ"
                                        allowfullscreen></iframe> {% endcomment %}
                                {% video site_config.url_video "large" %}
                                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="quote-inner-wrapper--quote-wrapper">
                        <div class="quote-wrapper--quote-icon">
                            <i class="fas fa-quote-left"></i>
                        </div>
                        <div class="quote-wrapper--title">
                            <h4>
                                En tiempo de Pandemia SIMAS ha trabajado en pro de la sostenibilidad de grupos más vulnerables en Nicaragua
                            </h4>
                        </div>
                        <!--<div class="quote-wrapper--subtitle">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus dolores
                                ducimus esse nam provident sapiente sed. Aliquid, architecto conseq cupiditate
                                exercitationem, expedita explicabo nam odio quaerat
                                quis saepe.</p>
                        </div>-->
                        <!--<div class="quote-wrapper--signature">
                            <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                        </div>-->
                        <!--<div class="quote-wrapper--author">
                            <a href="portfolio-single.html"><h6>Mark Doe</h6></a>
                            <p class="author--position">IT Director</p>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Items Slider -->
    <section class="large-section portfolio-section">
        <div class="container">
            <div class="row portfolio-section--wrapper">
                <div class="col-xl-3 section-heading padding-right">
                    <h3 class="section-heading--title">
                        Sistemas recientes
                    </h3>
                    <p class="section-heading--subtitle">
                       Una nueva experiencia comunitaria y tecnológica
                    </p>
                    <div class="button-wrapper">
                        <a class="button btn-type-2" href="{% url 'list-portafolio' %}">Ver más</a>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="portfolio-slider">
                        <div class="swiper-container portfolio-swiper-type-1 portfolio-slider-type-1">
                            <div class="swiper-wrapper">
                            {% for obj in latest_portafolio %}
                                <div class="swiper-slide">
                                    <a href="{% url 'detalle-portafolio' obj.slug %}">
                                        <div class="tilt-wrapper portfolio-item"
                                            data-tilt-value="10" data-tilt-speed="2000"
                                            data-tilt-scale="1" data-tilt-perspective="1200"
                                            style="{% thumbnail obj.fotos.first.imagen "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
                                            <div class="portfolio-item--content-wrapper">
                                                <div class="content-wrapper--box-tilt">
                                                    <h6 class="box-tilt--title">{{obj.servicio}}</h5>
                                                    {% comment %} <p class="box-tilt--tag">creative <span>/</span> art</p> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="swiper-button-prev-item"><i class="fas fa-long-arrow-alt-left"></i></div>
                        <div class="swiper-button-next-item"><i class="fas fa-long-arrow-alt-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio 4 columns-->
    <section class="portfolio-metro portfolio-metro-section">
        <div class="container">
            <div class="buttons-sort">
                <p class="buttons-sort--button active-button" data-filter="*">All</p>
                {% for tema in temas_galerias %}
                    <p class="buttons-sort--button" data-filter=".{{tema.0}}">{{tema.1}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="four-column-container">
            <div class="grid" data-grid-layout-mode="packery" data-grid-transition="0.7" data-grid-stagger="120">
                {% for obj in galerias %}
                <div class="grid--grid-item grid--grid-item-25 {% for cat in obj.categoria.all %}{{cat.id}} {% endfor %}">
                    <div class="grid-item--grid-inner slide-animation">
                        {% thumbnail obj.portada "1920x1280" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="img-fluid">
                        {% empty %}
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        {% endthumbnail %}
                        <a class="grid-inner--description-wrapper" href="{% url 'multimedia:detalle-galeria' obj.slug %}">
                            <div class="description-wrapper--content">
                                <p class="content--tag">{{obj.categoria.first}}</p>
                                <h5 class="content--name">{{obj.titulo}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Clients slider -->
    <!--<section class="clients-slider">
        <div class="container-fluid ">
            <div class="row clients-slider--clients-wrapper">
                <div class="col-xl-9 clients-slider-type-1 bg-position-center overlay dark-overlay bg-size-cover"
                     style="background-image: url('http://via.placeholder.com/1920x1280')">
                    <div class="swiper-container clients-container-type-1">
                        <div class="swiper-wrapper clients-container-type-1--clients-wrapper">
                            <div class="swiper-slide clients-wrapper--clients-slide">
                                <a href="index.html" class="clients-slide--clients-inner">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="swiper-slide clients-wrapper--clients-slide">
                                <a href="about.html" class="clients-slide--clients-inner">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="swiper-slide clients-wrapper--clients-slide">
                                <a href="portfolio.html" class="clients-slide--clients-inner">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="swiper-slide clients-wrapper--clients-slide">
                                <a href="product-single.html" class="clients-slide--clients-inner">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="swiper-slide clients-wrapper--clients-slide">
                                <a href="shop.html" class="clients-slide--clients-inner">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="swiper-slide clients-wrapper--clients-slide">
                                <a href="blog.html" class="clients-slide--clients-inner">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="swiper-slide clients-wrapper--clients-slide">
                                <a href="blog-single.html" class="clients-slide--clients-inner">
                                    <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 section-heading padding-left">
                    <h2 class="section-heading--title">
                        Our Partners
                    </h2>
                    <p class="section-heading--subtitle">
                        Lorem ipsum dolor sit amet, consect adipisicing elit. Ad aliquid amet beat
                    </p>
                    <div class="button-wrapper">
                        <a class="button btn-type-1" href="about.html">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Recent posts section -->
    <section class="recent-posts large-section">
        <div class="container">
            <div class="row recent-posts-section--posts-wrapper">
                <div class="col-xl-4 section-heading padding-right">
                    <h2 class="section-heading--title">
                        Actualidad
                    </h2>
                    <p class="section-heading--subtitle">
                        Conoce día a día nuestras acciones en el territorio
                    </p>
                    <div class="button-wrapper">
                        <a class="button btn-type-2" href="{% url 'noticias:noticias' %}">Ver más</a>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="recent-posts-type-1">
                        {% for obj in latest_news %}
                            <div class="recent-posts-type-1--posts-wrapper {% if forloop.counter == 1 %}first-post{% else %}second-post{% endif %}">
                                <div class="posts-wrapper--post">
                                    <div class="post--image">
                                        <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}">
                                            {% if not obj.url %}
                                                {% thumbnail obj.foto "1920x1280" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="" class="img-fluid">
                                                {% endthumbnail %}
                                            {%elif obj.url %}
                                                {% video obj.url '100% x 240px' %}
                                            {% else %}
                                                <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post--content-wrapper">
                                        <div class="content-wrapper--date">
                                            <div class="date--day heading-stroke">
                                                <span>{{obj.fecha|date:"d"}}</span>
                                            </div>
                                            <div class="date--month-year">
                                                <p>{{obj.fecha|date:"M, Y"}}</p>
                                            </div>
                                        </div>
                                        <div class="content-wrapper--title">
                                            <div class="title--tag">
                                                <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}"><p>{{obj.categoria.first}}</p></a>
                                            </div>
                                            <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}"><h5 class="title--main-title">{{obj.noticia|truncatechars:50}}</h5></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Contact form-->
    <section
            class="contact-form-section large-section bg-size-cover bg-attachment-fixed bg-position-center overlay dark-overlay"
            style="{% thumbnail site_config.suscripcion "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
        <div class="container ">
            <div class="row contact-form-section--wrapper">
                <div class="col-xl-4">
                    <!--<div class="wrapper--subtitle">
                        <p>We’d love to talk</p>
                    </div>-->
                    <div class="contact-form--title">
                        <h2>Suscribirse al boletín</h2>
                    </div>
                    <!--<div class="wrapper--description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing el. Aat corporis cumque ea eveniet
                            ipsa numquam optio</p>
                    </div>-->
                    <div class="wrapper--socials">
                        <div class="social-icons-type-2">
                            <a href="index.html" class="social-box facebook-h">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!--<a href="index.html" class="social-box linkedin-h">
                                <i class="fab fa-linkedin-in"></i>
                            </a>-->
                            <a href="index.html" class="social-box twitter-h">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!--<a href="index.html" class="social-box instagram-h">
                                <i class="fab fa-instagram"></i>
                            </a>-->
                            <a href="index.html" class="social-box google-plus-h">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 padding-left">
                    <div class="contact-form">
                        <div class="contact-form--contact-form-wrapper" id="ajax-contact">
                            <form class="contact-form-wrapper--contact-form">
                                <div class="form-div">
                                   <input class="form-name" type="text" name="name" placeholder="Nombre*" required>
                                </div>
                                <div class="form-div">
                                    <input class="form-email" type="email" name="email" placeholder="Correo*" required>
                                </div>

                                <div class="button-wrapper">
                                    <button type="submit" class="button btn-type-1">Suscribirse</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Parallax Footer -->
{% endblock content %}

{% block extra_js %}
<script>
$(".content-list--accordion").click(function(){
        var id = $(this).attr('id');
        $.getJSON('/ajax/servicios/?id='+id, function(data){
            if(data){
                $("#imagen").css('background-image', 'none');
                $("#imagen").css('background-image', 'url(' + data[0] + ')');
            }
        });
});

$(".image-wrapper a").click(function(){
    var id = $(this).attr('id');
    console.log(id);
    $.getJSON('/ajax/blogs/?id='+id, function(data){
        if(data){
            $.each(data, function(i, item){
               $(".about-company .section-heading--title").css('font-size','30px').html(item[0]);
               $(".about-company .section-heading--subtitle").html(item[1]);
               $(".about-company .btn-type-1").attr("href", "/blogs/"+item[2]+"/"+item[3]+"");

            });
        }
    });
});
</script>
{% endblock extra_js %}
