<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/img/logos/favicon/64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/static/img/logos/favicon/48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/static/img/logos/favicon/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/logos/favicon/24x24.png" sizes="24x24">

    <title>SIMAS</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins core CSS -->
    <link href="/static/css/fontawesome/all.css" rel="stylesheet"> <!--load all styles -->
    
    {% block extra_css %}
    {% endblock extra_css %}

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <a id="top-button" class="show"><i class="fas fa-chevron-up"></i></a>
    <nav class="navbar navbar-expand-md navbar-light fixed-top {% if request.path == '/' %} nav-transparent {% endif %} img-resize">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logos/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ml-auto">

                        {% comment %} <li class="nav-item">
                            <a href="#" class="nav-link">Inicio</a>
                        </li> {% endcomment %}

                        <li class="nav-item menu-2">
                            <a href="/quienes-somos/" class="nav-link">Somos SIMAS</a>
                        </li>
                        <li class="nav-item dropdown menu-3">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actualidad
                            </a>
                            <div class="dropdown-menu box-shadow" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/noticias/">Todas las noticias</a>
                                <div class="dropdown-divider"></div>
                                <!--{% for obj in cat_notas %}
                                    <a class="dropdown-item" href="{% url 'noticias:list-noticia-cat' obj.0 %}">{{obj.1}}</a>
                                {% endfor %}-->
                                
                                
                            </div>
                        </li>
                        <li class="nav-item menu-4">
                            <a href="/blogs" class="nav-link">Cambiando Vidas</a>
                        </li>
                        <li class="nav-item dropdown menu-8">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Proyectos
                            </a>
                            <div class="dropdown-menu box-shadow" aria-labelledby="navbarDropdown">
                                {% for obj in proyectos %}
                                    <a class="dropdown-item" href="{% url 'detalle-proyecto' obj.slug %}">{{obj.nombre_corto}}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item dropdown menu-5">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Multimedia
                            </a>
                            <div class="dropdown-menu box-shadow" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/publicaciones/">Publicaciones</a>
                                <!--{% for obj in cat_publi %}
                                    <a class="dropdown-item" href="{% url 'publicaciones:list-publicaciones-cat' obj.0 %}">{{obj.1}}</a>
                                {% endfor %}-->
                                <a class="dropdown-item" href="/galerias-imagenes">Imágenes</a>
                                <a class="dropdown-item" href="/videos">Videos</a>
                                {% comment %} <div class="dropdown-divider"></div> {% endcomment %}
                            </div>
                        </li>
                        <li class="nav-item menu-6">
                            <a href="{% url 'servicios' servicio.uri %}" class="nav-link">Servicios</a>
                        </li>

                        <li class="nav-item menu-7">
                            <a href="/contactenos" class="nav-link">Contáctenos</a>
                        </li>
                        {% comment %} <span class="nv-search"></span>
                        <li class="nav-item menu-9">
                            <a href="#" class="nav-link"><i class="fa fa-search"></i></a>
                        </li> {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="mobile ">
        <div class="mainContainer">
            <header>
                <a href="/" class="logo">
                    <img src="/static/img/logos/logo.png" alt="" height="50px">
                </a>
                <a href="#" class="menuBtn">
                    <span class="lines"></span>
                </a>
                <nav class="mainMenu">
                    <ul>
                        <li class="menu-1">
                            <a href="/" >Inicio</a>
                        </li>
                        <li class="menu-2">
                            <a href="/quienes-somos/">Somos SIMAS</a>
                        </li>
                        <li class="menu-3">
                            <a href="/noticias/">Noticias</a>
                        </li>
                        <li class="menu-4">
                            <a href="/blogs">Cambiando Vidas</a>
                        </li>
                        <li class="menu-8">
                            <a href="#">Proyectos </a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Publicaciones <span class="fa fa-chevron-down"></span>
                            </a>
                        </li>
                        <div class="collapse" id="collapseExample">
                            <li>
                                <a href="/publicaciones/">Todas las Publicaciones</a>
                            </li>
                            <li class="menu-8">
                            <a href="/galerias-imagenes">Multimedia</a>
                            </li>
                            <li class="menu-8">
                                <a href="/videos">Videos</a>
                            </li>
                        </div>
                        {% comment %} <li class="">
                           <a href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Publicaciones</a>
                        </li>
                        <div class="collapse" id="collapseExample">
                            <li>
                                <a href="/publicaciones/">Publicaciones</a>
                            </li>
                            <li class="menu-8">
                            <a href="/galerias-imagenes">Multimedia</a>
                            </li>
                            <li class="menu-8">
                                <a href="/videos">Videos</a>
                            </li>
                        </div> {% endcomment %}
                        <li class="menu-6">
                            <a href="{% url 'servicios' servicio.uri %}">Servicios</a>
                        </li>
                        <li class="menu-7">
                            <a href="/contactenos">Contáctenos</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="container">
            </div>
            <footer>
            </footer>
        </div>
    </div>
    
    {% block content %}

    {% endblock content %}

<footer id="footer" >
    <section id="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 pdt-50 pdb-50 footer-left">
                        <h2>Contactos</h2>
                        <p class="color-white">
                            Lugo Rent a Car 1c al lago, esquina sur oeste parque El Carmen. Reparto El Carmen, Managua, Nicaragua.
                        </p>
                        <p class="color-white">PBX y Fax: (+505) 22682302 <br>Apartado postal A-136
                        </p>
                        
                </div>
                <div class="col-12 col-sm-12 col-md-2 pdt-50 pdb-50 align-self-center footer-center">
                    <img src="/static/img/logos/logo.png" alt="" >
                </div>
                <div class="col-md-5 pdt-50 pdb-50 footer-right align-self-center">
                    <ul class="footer-icon text-center">
                        <li>
                            <a class="si-facebook" href="https://www.facebook.com/simas.org.ni" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a class="si-twitter" href="https://twitter.com/simasnicaragua" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="si-youtube" href="https://www.youtube.com/user/simasnicaragua" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li><a class="si-instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                            
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center pdt-10 pdb-10">
                    <p class="mb-0 color-white">Copyright © <span id="year">2019</span> SIMAS. Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </section>
</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    {% comment %} <script src="/static/js/jquery-ui.min.js"></script> {% endcomment %}
    <!-- ----------------------------------------------------------------------- -->
    <!--                                Bootstrap                                -->
    <!-- ----------------------------------------------------------------------- -->
    <script src="/static/js/bootstrap/popover.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap/bootstrap.bundle.js"></script>
    <script>
        $(window).scroll(function() {    
            var scroll = $(window).scrollTop();
        
            if (scroll >= 250) {
                $(".navbar").removeClass("img-resize");
            }
            if (scroll <= 249) {
                $(".navbar").addClass("img-resize");
            }
        });
    var btn=$('#top-button');
    $(window).scroll(function(){
        if($(window).scrollTop()>300){
            btn.addClass('show');
        }
        else{
            btn.removeClass('show');
        }
    });
    btn.on('click',function(e){
        e.preventDefault();$('html, body').animate({scrollTop:0},'300');
    });

    $(document).ready(function(){
        // menu click event
        $('.menuBtn').click(function() {
            $(this).toggleClass('act');
                if($(this).hasClass('act')) {
                    $('.mainMenu').addClass('act');
                }
                else {
                    $('.mainMenu').removeClass('act');
                }
        });
        document.getElementById("year").innerHTML = new Date().getFullYear();
    });
    

    </script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>