{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}
{% block extra_css %}
<link href="/static/css/ihover/ihover.min.css" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Contáctenos</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Contáctenos</li>
                </ul>
            </div>
        </div>
    </div>
</div>
 
<section class="area-contacto pdt-100 ">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
				<form id="pony_form" method="POST" class="contact-form" >{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							{{form_contact.nombre}}
						</div>
						<div class="col-md-6">
							{{form_contact.correo}}
						</div>
						<div class="col-md-12">
							{{form_contact.asunto}}
						</div>
						<div class="col-md-12">
							{{form_contact.mensaje}}
						</div>
						<div class="col-md-4">
							{{form_contact.captcha}}
						</div>
						<div class="col-md-8">
							<input type="submit" class="btn btn-style-three" value="Enviar Correo" />
						</div>
						
					</div>
				
				</form>
            </div>
            <div class="col-md-5">
                <div class="contact-sidebar ">
                    <h4 class="mrb-20">Contacto institucional</h4>
					<div class="address d-flex mb-4">
						<div class="icon-left mr-4"><i class="fas fa-envelope-open-text text-color-base"></i></div>
						<div class="icon-right">
							<p class="info-texto m-0">{{ contacto.texto|safe }}</p> 
						</div>
					</div>
                    
                    
                </div>
					

            </div>
        </div>
		
    </div>
    <div class="bg-gris pdt-50 pdb-50">
        <div class="container">
            <div id="contacto_areas" class="row">

                {% for a in ubicacion_trabajador %}
                    <div class="col-lg-12">
                        <h2 class="text-color-base">{{a.ubicacion}}</h2>
                        <hr>
                    </div>
                    <div class="col-lg-12 pdt-30 pdb-30">
                        <div class="row ">
                            {% for b in personal %}
                                {% if b.ubicacion.id == a.id %}
                                    <div class="col-lg-3">
                                        <!-- normal -->
                                        <div class="ih-item circle effect3 bottom_to_top"><a href="#">
                                        {% if b.foto %}
                                            {% thumbnail b.foto "300x300" crop="10%" as img %}
                                                <div class="img"><img src="/media/{{img}}" alt="img"></div>
                                            {% endthumbnail%}
                                        {% else %}
                                            <div class="img"><img src="/static/img/8.jpg" alt="img"></div>
                                        {% endif %}
                                            
                                            <div class="info">
                                            <h3>{{b.nombres}}</h3>
                                            <p>{{b.cargo}} / {{b.correo}}</p>
                                            </div></a>
                                        </div>
                                        <!-- end normal -->
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>                    
                    
                {% endfor %}
            </div>
        </div>
        
    </div>
	<div class="container-fluid">
		<div class="row">
			
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3900.5446344594784!2d-86.2861944!3d12.143278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f71567744e12775%3A0xf45add63e22dd040!2sSIMAS!5e0!3m2!1ses-419!2s!4v1405466350955" width="100%" height="450" frameborder="0" style="border:0"></iframe>
			
		</div>
	</div>
</section>

{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
	$('input[type=text],input[type=email], textarea').addClass('form-control');
	$('#id_captcha_1').addClass('m-0');
	
	$("#id_nombre").attr("placeholder", "Nombre");
	$("#id_correo").attr("placeholder", "Correo electrónico");
	$("#id_asunto").attr("placeholder", "Asunto");
	$("#id_mensaje").attr("placeholder", "Redacte el mensaje");
</script>
<script>
    $(".menu-7").addClass("active");
    $(".info-texto figure").addClass("figure");
    $(".info-texto figure img").addClass("figure-img img-fluid rounded");
    $(".info-texto figure figcaption").addClass("figure-caption text-center");
    $(".info-texto img").addClass("img-fluid");
    $(".info-texto figure figcaption").prepend("<span class='fa fa-image'></span> ");
</script>
	
{% endblock extra_js %}