{% extends "base.html" %}
{% load i18n googlesearch_inclusion_tags %}

{% block contenido %}

<div class="quienesfondo">
    <img src="/static/img/imgPortafolio.jpg" alt="">
    <div class="row"><h1 class="text-center">BÚSQUEDAS</h1></div>
</div>
<div class="cta-bar">
<div class="row">
	<div class="large-8 medium-8 columns">
        {% include "busquedaSitio.html" %}
     </div>
	  <div class="large-4 medium-4 columns">
	      <section class="social-icons">
	          <ul>
	              <li class="youtube"><a href="https://www.youtube.com/user/simasnicaragua"></a></li>
	              <li class="twitter"><a href="https://twitter.com/simasnicaragua"></a></li>
	              <li class="facebook"><a href="https://www.facebook.com/simas.org.ni"></a></li>
	          </ul>
	      </section>
	  </div>
  </div>
</div>
<div class="row">
    <div class="googlesearch-results">

	    <div class="title">{% trans "Resultado de la busqueda" %}</div>
	
        <!-- {{ request.GET.q }} -->

        <div class="results">
            {% googlesearch_results %}
        </div>

	</div>
</div>

<hr>
{% include "footer.html" %}
{% endblock %}
