{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<!-- Page Content -->
<div class="content-page-wrapper">
    <!-- Header Breadcrumbs-->
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                {{object}}
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="">
                        Portafolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        {{object}}
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- Single Project 1 -->
    <section class="single-project small-section">
        <div class="container">
            <div class="single-project--overview">
                <div class="overview--title">
                    <h2>Detalle del proyecto</h2>
                </div>
            </div>
            <div class="single-project--item-description">
                <div class="container">
                    <div class="row item-description--project-information">
                        <div class="col-md-3 project-information--info-wrapper"
                             data-aos="fade-up"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                            <p class="info-wrapper--subtitle">Cliente: </p>
                            <h6 class="info-wrapper--info-title"><a href="">{% for obj in object.organizacion.all %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}</a></h6>
                        </div>
                        <div class="col-md-3 project-information--info-wrapper"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                            <p class="info-wrapper--subtitle">Fecha: </p>
                            <h6 class="info-wrapper--info-title">{{object.fecha|date:"M d, Y"}}</h6>
                        </div>
                        <div class="col-md-3 project-information--info-wrapper"
                             data-aos="fade-up"
                             data-aos-delay="200"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                            <p class="info-wrapper--subtitle">URL: </p>
                            <h6 class="info-wrapper--info-title"><a href="{{object.link}}">{{object.link}}</a></h6>
                        </div>
                        <div class="col-md-3 project-information--info-wrapper"
                             data-aos="fade-up"
                             data-aos-delay="300"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                            <p class="info-wrapper--subtitle">Tipo: </p>
                            <h6 class="info-wrapper--info-title"><a href="">{{object.get_tipo_display}}</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="inner-wrapper--content">
                        <p>{{object.resumen}}</p>
                    </div>
                </div>
            </div>
            <br>
            <!-- Background Slider-->
            <div class="background-slider">
                <div class="background-slider-type-1">
                    <div class="swiper-container swiper-background">
                        <div class="swiper-wrapper">
                            {% for obj in object.fotos.all|dictsort:'id'|slice:'1:' %}
                            <div class="swiper-slide" style="{% thumbnail obj.imagen "1920" crop="center" as im %}background-image: url({{ im.url }}){% endthumbnail %}"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
