{% extends 'base.html' %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<!-- Page Content -->
<div class="content-page-wrapper">
    <!-- Header Breadcrumbs-->
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                Portafolio
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Portafolio
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- Portfolio -->
    <section class="portfolio-metro small-section">
        <div class="container">
            <div class="buttons-sort">
                <a href="{% url 'list-portafolio' %}" class="buttons-sort--button active-button" data-filter="*">Todos</a>
                {% for obj in tipos %}
                    <a href="{% url 'filtro-portafolio' obj %}" class="buttons-sort--button">{% if obj == 1 %}Pagina web{% elif obj == 2 %}Aplicación movil{% elif obj == 3 %}Sistema web{% endif %}</a>
                {% endfor %}
            </div>
        </div>
        <div class="three-column-container">
            <div class="grid" data-grid-layout-mode="masonry" data-grid-transition="0.6" data-grid-stagger="80">
                {% paginate 15 object_list %}
                {% for obj in object_list %}
                <div class="grid--grid-item grid--grid-item-33 web creative">
                    <div class="scale-3d--wrapper">
                        <div class="grid-item--grid-inner scale-3d-hover-effect tilt-wrapper"
                                data-tilt-value="5" data-tilt-speed="1200"
                                data-tilt-scale="1" data-tilt-perspective="600">
                            {% thumbnail obj.fotos.first.imagen "1920x1280" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" class="img-fluid">
                            {% empty %}
                            <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                            {% endthumbnail %}
                            <a class="grid-inner--description-wrapper" href="{% url 'detalle-portafolio' obj.slug %}">
                                <div class="description-wrapper--content">
                                    <div class="content--tag">
                                        <p>{{obj.get_tipo_display}}</p>
                                    </div>
                                    <div class="content--title-subtitle">
                                        <h3>{{obj.servicio}}</h3>
                                    </div>
                                    <div class="content--date">
                                        <p>{{obj.fecha|date:"d F Y"}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% comment %} agregar css a paginado {% endcomment %}
            {% show_pages %}
        </div>
    </section>
</div>
{% endblock content %}