{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block extra_js %}

<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.js' %}"></script>
<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />

<script>

$('.menu a.menu3').addClass('activate');

$(document).ready(function(){

  var slider = $('.bxslider').bxSlider({
    mode: 'fade',
    hideControl: true,
    slideMargin: 12,
    pager:false,
  });

});
  
</script>
{{ block.super }}
  <script>
    $.endlessPaginate({
            onClick: function() {
                
            },
            onCompleted: function(context, fragment) {
                //console.log('Label:', $(this).text());
                var slider = $('.bxslider').bxSlider({
                  mode: 'fade',
                  slideMargin: 12,
                  pager:false,
                });
            }
        });
  </script>
{% endblock extra_js %}

{% block contenido %}

<div class="quienesfondo">
  <img src="/media/{{foto_portafolio.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_portafolio.titulo}}</h1></div>
</div>
<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
  <div class="row">
      <div class="large-8 medium-8 columns">
        {% include "busquedaSitio.html" %}
      </div>
      <div class="large-4 medium-4 columns">
        <div id="filtro" class="filtros right">
          
          <li class="buton button"><a href="/portafolio/sistemas">Sistemas</a></li>
          <li class="buton button"><a href="/portafolio/servicios">Portafolio</a></li>
        </div>
      </div>
  </div>
</div>
<!-- finaliza el buscador y la red social -->
<br><br>
{% include page_template %}

<hr>

{% include "footer.html" %}

{% endblock contenido %}